/* Create two unequal columns that floats next to each other */

/* Left column */

.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */

.card-image {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

.articleImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    height: auto;
}
.articleImage p {
    display: inline-block;
    font-size: 12px;
    color: grey;
}

.prevButton, .nextButton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    width: 150px;
    margin: 5px;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Adamina';
    font-weight: 300;
    background-color: #999999;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
}

.nextButton:hover, .prevButton:hover {
    color: #111111;
    background-color: #DDDDDD;
}

.prevButton {
    float: left;
}
.nextButton {
    float: right;
}

.tagCloud {
    margin: 0px;
    display: inline-block;
    font-size: 13px;
}

.tagCloud i, .tagCloud a:visited {
    min-width: 10px;
    border-radius: 15px;
    background: #888888;
    padding: 5px;
    font-size: small;
    color: #222222;
    
}